# Write a python program to display all the header tags from wikipedia.org and make data frame

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
header_tags = [h.name for h in soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])]
df = pd.DataFrame(header_tags, columns=["Header Tag"])
df

  Header Tag
0         h1
1         h1
2         h2
3         h2
4         h2
5         h2
6         h2
7         h2
8         h2
9         h2

# Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

movies = []
rows = soup.find("tbody", class_="lister-list").find_all("tr")[:50]
for row in rows:
    title = row.find("td", class_="titleColumn").find("a").text
    year = row.find("td", class_="titleColumn").find("span").text[1:-1]
    rating = row.find("td", class_="ratingColumn").find("strong").text
    movies.append([title, rating, year])

df = pd.DataFrame(movies, columns=["Title", "IMDB Rating", "Year"])
df

                                                Title IMDB Rating  Year
0                            The Shawshank Redemption         9.2  1994
1                                       The Godfather         9.2  1972
2                                     The Dark Knight         9.0  2008
3                               The Godfather Part II         9.0  1974
4                                        12 Angry Men         9.0  1957
5                                    Schindler's List         8.9  1993
6       The Lord of the Rings: The Return of the King         8.9  2003
7                                        Pulp Fiction         8.8  1994
8   The Lord of the Rings: The Fellowship of the Ring         8.8  2001
9                     Il buono, il brutto, il cattivo         8.8  1966
10                                       Forrest Gump         8.8  1994
11                                         Fight Club         8.7  1999
12              The Lord of the Rings: The Two Towers         8.7  2002
13                                          Inception         8.7  2010
14                            The Empire Strikes Back         8.7  1980
15                                         The Matrix         8.7  1999
16                                         GoodFellas         8.7  1990
17                    One Flew Over the Cuckoo's Nest         8.6  1975
18                                              Se7en         8.6  1995
19                               Shichinin no samurai         8.6  1954
20                              It's a Wonderful Life         8.6  1946
21                           The Silence of the Lambs         8.6  1991
22                                     Cidade de Deus         8.6  2002
23                                Saving Private Ryan         8.6  1998
24                                       Interstellar         8.6  2014
25                                    La vita è bella         8.6  1997
26                                     The Green Mile         8.6  1999
27                                          Star Wars         8.5  1977
28                         Terminator 2: Judgment Day         8.5  1991
29                                 Back to the Future         8.5  1985
30                      Sen to Chihiro no kamikakushi         8.5  2001
31                                        The Pianist         8.5  2002
32                                             Psycho         8.5  1960
33                                       Gisaengchung         8.5  2019
34                                               Léon         8.5  1994
35                                      The Lion King         8.5  1994
36                                          Gladiator         8.5  2000
37                                 American History X         8.5  1998
38                                       The Departed         8.5  2006
39                                 The Usual Suspects         8.5  1995
40                                       The Prestige         8.5  2006
41                                           Whiplash         8.5  2014
42                                         Casablanca         8.5  1942
43                                            Seppuku         8.5  1962
44                                     Hotaru no haka         8.5  1988
45                                   The Intouchables         8.5  2011
46                                       Modern Times         8.4  1936
47                       Once Upon a Time in the West         8.4  1968
48                                        Rear Window         8.4  1954
49                              Nuovo Cinema Paradiso         8.4  1988

# Write a python program in jupyter notebook without comments to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/india/top-rated-indian-movies/"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

movies = []
rows = soup.find("tbody", class_="lister-list").find_all("tr")[:50]
for row in rows:
    title = row.find("td", class_="titleColumn").find("a").text
    year = row.find("td", class_="titleColumn").find("span").text[1:-1]
    rating = row.find("td", class_="ratingColumn").find("strong").text
    movies.append([title, rating, year])

df = pd.DataFrame(movies, columns=["Title", "IMDB Rating", "Year"])
df

                                  Title IMDB Rating  Year
0   Ramayana: The Legend of Prince Rama         8.5  1993
1            Rocketry: The Nambi Effect         8.4  2022
2                               Nayakan         8.4  1987
3                              Gol Maal         8.4  1979
4                            Anbe Sivam         8.4  2003
5                           777 Charlie         8.4  2022
6                              Jai Bhim         8.4  2021
7                     Pariyerum Perumal         8.4  2018
8                              3 Idiots         8.4  2009
9                           Apur Sansar         8.4  1959
10                     Manichitrathazhu         8.4  1993
11                                #Home         8.3  2021
12                      Soorarai Pottru         8.3  2020
13                         Black Friday         8.3  2004
14                    Kumbalangi Nights         8.3  2019
15                    C/o Kancharapalem         8.3  2018
16                     Taare Zameen Par         8.3  2007
17                             Kireedam         8.3  1989
18                               Dangal         8.3  2016
19                               Kaithi         8.3  2019
20                               Jersey         8.3  2019
21                                   96         8.3  2018
22                          Maya Bazaar         8.2  1957
23                            Natsamrat         8.2  2016
24                               Asuran         8.2  2019
25                           Drishyam 2         8.2  2021
26                           Sita Ramam         8.2  2022
27                         Thevar Magan         8.2  1992
28                           Visaaranai         8.2  2015
29                  Sarpatta Parambarai         8.2  2021
30                           Thalapathi         8.2  1991
31                      Pather Panchali         8.2  1955
32                         Nadodikkattu         8.2  1987
33                             Drishyam         8.2  2013
34                   Jaane Bhi Do Yaaro         8.2  1983
35                         Thani Oruvan         8.2  2015
36                         Sardar Udham         8.2  2021
37                            Aparajito         8.2  1956
38                         Vada Chennai         8.2  2018
39                    Khosla Ka Ghosla!         8.2  2006
40                              Anniyan         8.1  2005
41                             Ratsasan         8.1  2018
42                        Chupke Chupke         8.1  1975
43                   Gangs of Wasseypur         8.1  2012
44                              Peranbu         8.1  2018
45                             Drishyam         8.1  2015
46                             Mahanati         8.1  2018
47                       Bangalore Days         8.1  2014
48                                Satya         8.1  1998
49          Agent Sai Srinivasa Athreya         8.1  2019

# Write a python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [126]:
from bs4 import BeautifulSoup
import requests
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup = BeautifulSoup(page.content)
soup

pres=[]
for i in soup.find_all('div', class_="presidentListing"):
    pres.append(i.text.split('(')[0])
    pres.append(i.text.split('(')[1:2])
   
    
pres

df = pd.DataFrame(president_data, columns=['President', 'Starting Date', 'Closing Date'])
print(df)

                         President        Starting Date         Closing Date
0           1. Dr. Rajendra Prasad   January 26th, 1950       May 13th, 1962
1   2. Dr Sarvepalli Radhakrishnan       May 13th, 1962       May 13th, 1967
2              3. Dr Zakir Hussain       May 13th, 1967        May 3rd, 1969
3       4. Varahagiri Venkata Giri        May 3rd, 1969      July 20th, 1969
4         5. Mohammad Hidayatullah      July 20th, 1969    August 24th, 1969
5       6. Varahagiri Venkata Giri    August 24th, 1969    August 24th, 1974
6          7. Fakhruddin Ali Ahmed    August 24th, 1974  February 11th, 1977
7         8. Basappa Danappa Jatti  February 11th, 1977      July 25th, 1977
8          9. Neelam Sanjiva Reddy      July 25th, 1977      July 25th, 1982
9             10. Giani Zail Singh      July 25th, 1982      July 25th, 1987
10      11. Ramaswamy Venkataraman      July 25th, 1987      July 25th, 1992
11        12. Shankar Dayal Sharma      July 25th, 1992      July 25th, 1997
12    13. Kocheril Raman Narayanan      July 25th, 1997      July 25th, 2002
13      14. Dr. A.P.J. Abdul Kalam      July 25th, 2002      July 25th, 2007
14              15. Pratibha Patil      July 25th, 2007      July 25th, 2012
15            16. Pranab Mukherjee      July 25th, 2012      July 25th, 2017
16        17. Shri Ram Nath Kovind      July 25th, 2017      July 21st, 2022
17              18. Droupadi Murmu      July 21st, 2022              Working

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [44]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    team = cells[0].text.strip()
    matches = cells[1].text.strip()
    points = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([team, matches, points, rating])

df = pd.DataFrame(data, columns=["Team", "Matches", "Points", "Rating"])
print(df)

  Team           Matches Points Rating
0    1        India\nIND     44  5,010
1    2    Australia\nAUS     32  3,572
2    3   New Zealand\nNZ     29  3,229
3    4      England\nENG     33  3,656
4    5     Pakistan\nPAK     25  2,649
5    6  South Africa\nSA     27  2,775
6    7   Bangladesh\nBAN     33  3,129
7    8     Sri Lanka\nSL     34  2,976
8    9  Afghanistan\nAFG     20  1,419
9   10   West Indies\nWI     41  2,902

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [45]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    player = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([player, team, rating])

df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df)

                  Player Team Rating
0  Rassie van der Dussen   SA    787
1           David Warner  AUS    747
2        Quinton de Kock   SA    743
3            Imam-ul-Haq  PAK    740
4           Shubman Gill  IND    734
5            Virat Kohli  IND    727
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    719
8        Kane Williamson   NZ    700

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [46]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    player = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([player, team, rating])

df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df)

              Player Team Rating
0     Mohammed Siraj  IND    729
1     Josh Hazlewood  AUS    727
2        Trent Boult   NZ    708
3     Mitchell Starc  AUS    665
4        Rashid Khan  AFG    659
5         Adam Zampa  AUS    655
6    Shakib Al Hasan  BAN    652
7     Shaheen Afridi  PAK    641
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    team = cells[0].text.strip()
    matches = cells[1].text.strip()
    points = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([team, matches, points, rating])

df = pd.DataFrame(data, columns=["Team", "Matches", "Points", "Rating"])
print(df)

  Team           Matches Points Rating
0    1    Australia\nAUS     21  3,603
1    2      England\nENG     28  3,342
2    3  South Africa\nSA     26  3,098
3    4        India\nIND     27  2,820
4    5   New Zealand\nNZ     25  2,553
5    6   West Indies\nWI     27  2,535
6    7   Bangladesh\nBAN     13    983
7    8     Thailand\nTHA      8    572
8    9     Pakistan\nPAK     27  1,678
9   10     Sri Lanka\nSL      8    353

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    player = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([player, team, rating])

df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df)

                Player Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [43]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

rows = soup.find("table").find_all("tr")[1:11]

data = []
for row in rows:
    cells = row.find_all("td")
    player = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    data.append([player, team, rating])

df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df)

             Player Team Rating
0   Hayley Matthews   WI    373
1    Natalie Sciver  ENG    371
2      Ellyse Perry  AUS    366
3    Marizanne Kapp   SA    349
4       Amelia Kerr   NZ    336
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    292
7     Jess Jonassen  AUS    250
8          Nida Dar  PAK    232
9    Jhulan Goswami  IND    214

# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data framei) Headline ii) Time iii) News Link

In [ ]:
from bs4 import BeautifulSoup
import requests
page=requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
soup

headline=soup.find('div', class_='FeaturedCard-content')
headline.text

import pandas as pd
df=pd.DataFrame({"headline":headline})
df

In [110]:
headline.text

"U.S. inflation report has the potential to deliver some bad newsYields are popping again. Here's how investors can take advantage CNBC Daily Open: U.S. markets rose, but might be surprised by January's consumer price index "

In [116]:
t1=soup.find('div', class_class="ArticleHeader-time")
print(t1)

# Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data framei) Paper Title ii) Authors iii) Published Date iv) Paper URL

In [119]:
from bs4 import BeautifulSoup
import requests
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content)
soup

title=[]
for i in soup.find_all('h2', class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    title.append(i.text)
    
title

author=[]
for i in soup.find_all('p', class_='sc-1thf9ly-0 sc-1thf9ly-1 iwnLUR fXmEge'):
    author.append(i.text.split('Open')[0])
    
author

date=[]
for i in soup.find_all('p', class_='sc-1thf9ly-0 sc-1thf9ly-1 iwnLUR fXmEge'):
    date.append(i.text.split('Access')[1:2])
    
date

import pandas as pd

df=pd.DataFrame({'title':title, 'author':author, 'date':date})
df

,title,author,date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",[October 2021]
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",[October 2021]
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",[October 2015]
3,Creativity and artificial intelligence,"Boden, Margaret A.",[August 1998]
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",[June 2017]
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim February 2019",[]
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",[April 2021]
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",[February 2015]
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",[August 1999]
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",[March 2020]
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",[February 2021]
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",[October 2007]
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",[August 2016]
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 moreApril 2021",[]
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",[December 1997]
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant August 2021",[]
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",[September 2021]
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",[June 2021]
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",[December 2016]
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",[September 2021]
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",[May 2021]
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",[January 2014]
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",[December 1997]
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",[October 2021]
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",[February 2010]

# Write a python program to scrape mentioned details from dineout.co.in and make data framei) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [96]:
from bs4 import BeautifulSoup
import requests
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)
soup

res=[]
for i in soup.find_all('a', class_='restnt-name ellipsis'):
    res.append(i.text)
res

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [93]:
loc=[]
for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    loc.append(i.text)

In [94]:
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [97]:
cus=[]
for i in soup.find_all('div', class_="detail-info"):
    cus.append(i.text.split('|')[1])
cus

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [98]:
rating=[]
for i in soup.find_all('div', class_='restnt-rating rating-4'):
    rating.append(i.text)
rating

['4.1', '3.9', '4.3', '3.9', '4', '3.9', '3.6', '3.8', '4.3']

In [99]:
image=[]
for i in soup.find_all('img', class_="no-img"):
    image.append(i.get('data-src'))
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [125]:
import pandas as pd
df=pd.DataFrame({"Restaurant":res, "Location": loc, "Cuisine":cus, "Rating":rating, "Image":image})
df

,Restaurant,Location,Cuisine,Rating,Image
0,Castle Barbeque,"Connaught Place, Central Delhi","Chinese, North Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","North Indian, Asian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",North Indian,3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...