In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Analyst')

In [17]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title), len(job_location), len(company_name), len(experience_required) )

10 10 10 10

In [34]:
import pandas as pd
df=pd.DataFrame({'Title' : job_title, 'Location': job_location, 'Company':company_name, 'Experience': experience_required})

In [35]:
df

,Title,Location,Company,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
8,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/")

In [49]:
designation1=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation1.send_keys('Data Scientist')
locatio1n=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location1.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [50]:
job_title1=[]
job_location1=[]
company_name1=[]

In [51]:
title_tags1=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags1[0:10]:
    title1=i.text
    job_title1.append(title1)
    
location_tags1=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags1[0:10]:
    location1=i.text
    job_location1.append(location1)

company_tags1=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags1[0:10]:
    company1=i.text
    company_name1.append(company1)

In [52]:
print(len(job_title1), len(job_location1), len(company_name1) )

10 10 10

In [53]:
import pandas as pd
df=pd.DataFrame({'Title' : job_title1, 'Location': job_location1, 'Company':company_name1})

In [54]:
df

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
5,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below.You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/")

In [2]:
designation2=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation2.send_keys('Data Scientist')
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [3]:
loc=driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]").click()

In [4]:
sal=driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]").click()

In [5]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [6]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [8]:
import pandas as pd
df=pd.DataFrame({'Title' : job_title, 'Location': job_location, 'Company':company_name, 'Experience': experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist || Walk-In || 5th-6th Jan,Hybrid - Noida(Sector-62 Noida),SEW Engineering,3-8 Yrs
7,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
8,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price

In [82]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [83]:
item=driver.find_element(By.CLASS_NAME, "_3704LK")
item.send_keys('Sunglasses')

In [84]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [85]:
brand=[]
description=[]
price=[]
discount=[]

In [86]:
start=0
end=3

for page in range(start,end):

    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brands:

        brand.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [87]:
start=0
end=3

for page in range(start,end):

    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in desc:

        description.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [88]:
start=0
end=3

for page in range(start,end):

    p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in p:

        price.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [89]:
start=0
end=3

for page in range(start,end):

    disc=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

    for i in disc:

        discount.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [90]:
print(len(brand))

120

In [91]:
print(len(description))

120

In [92]:
print(len(price))

120

In [93]:
print(len(discount))

120

In [94]:
import pandas as pd
df1=pd.DataFrame({'Brand' : brand, 'Description': description, 'Price': price, 'Discount':discount})

In [95]:
df1

,Brand,Description,Price,Discount
0,PC STAR,"Riding Glasses, UV Protection Retro Square Sun...",₹299,70% off
1,PC STAR,"Riding Glasses, UV Protection Retro Square Sun...",₹449,55% off
2,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹99,88% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹519,35% off
...,...,...,...,...
115,OAKLEY,Shield Sunglass,"₹7,199",30% off
116,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹579,35% off
117,PIRASO,Polarized Wrap-around Sunglasses (45),₹397,84% off
118,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
119,Soul Hub,"Mirrored, Riding Glasses, UV Protection Aviato...","₹1,349",50% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART

In [177]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd")

In [178]:
rating=[]
review_summary=[]
full_review=[]

In [179]:
load=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a").click()

In [180]:
start=0
end=10

for page in range(start,end):

    r=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

    for i in r:

        rating.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")

In [181]:
start=0
end=10

for page in range(start,end):

    rs=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

    for i in rs:

        review_summary.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")

In [182]:
start=0
end=10

for page in range(start,end):

    fl=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

    for i in fl:

        full_review.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")

In [183]:
import pandas as pd
df=pd.DataFrame({'Rating' : rating, 'Review': review_summary, 'Full Review': full_review})

In [184]:
df

,Rating,Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 3 attributes of each sneaker:1. Brand 2. ProductDescription 3. Price

In [123]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [124]:
item=driver.find_element(By.CLASS_NAME, "_3704LK")
item.send_keys('Sneakers')

In [125]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [126]:
brand=[]
description=[]
price=[]

In [127]:
start=0
end=3

for page in range(start,end):

    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brands:

        brand.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [128]:
start=0
end=3

for page in range(start,end):

    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in desc:

        description.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [129]:
start=0
end=3

for page in range(start,end):

    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in pr:

        price.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [130]:
print(len(brand))

120

In [131]:
print(len(description))

120

In [132]:
print(len(price))

120

In [133]:
import pandas as pd
df4=pd.DataFrame({'Brand' : brand, 'Description': description, 'Price': price})

In [134]:
df4

      Brand                                        Description   Price
0       SFR                                   Sneakers For Men    ₹249
1      aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹299
2       SFR                                   Sneakers For Men    ₹243
3    Shozie  Stylish Sneakers Shoes for Women And Girls Sne...    ₹374
4     BIRDE                                 Sneakers For Women    ₹199
..      ...                                                ...     ...
115   BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
116   BIRDE       Combo Pack of 2 Casual Shoe Sneakers For Men    ₹499
117    PUMA                                UP Sneakers For Men  ₹2,556
118   BIRDE  Premium Casual Shoes for Women Sneakers For Women    ₹299
119   asian           WATERPROOF-05cFULLWHITE Sneakers For Men    ₹649

[120 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome("chromedriver.exe")

In [37]:
driver.get("https://www.amazon.in/")

In [38]:
pdt=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
pdt.send_keys('Laptop')

In [39]:
search=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [40]:
pro=driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[13]/span/a/span").click()

In [41]:
title=[]
rating=[]
price=[]

In [42]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in title_tags[0:10]:
    t=i.text
    title.append(t)
    
r_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-base"]')
for i in r_tags[0:10]:
    r=i.text
    rating.append(r)
p_tags=driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in p_tags[0:10]:
    p=i.text
    price.append(p)

In [43]:
import pandas as pd

In [44]:
df=pd.DataFrame({'Title' : title, 'Rating': rating, 'Price':price})
df

                                               Title Rating   Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    4.1  56,990
1  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    4.1  45,592
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0  79,990
3  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    4.0  95,990
4  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    3.4  29,999
5  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3  84,910
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    4.3  85,990
7  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...    4.4  89,990
8  HP Victus 12th Gen Intel Core i7 15.6 inch(39....    3.4  93,500
9  ASUS TUF Gaming F17 Core i7 12th Gen - (16 GB/...    5.0  95,490

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [263]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome("chromedriver.exe")

In [264]:
driver.get("https://www.azquotes.com/")

In [265]:
loc=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a").click()

In [266]:
quote=[]
author=[]
qtype=[]

In [267]:
start=0
end=10

for page in range(start,end):
    qu=driver.find_elements(By.XPATH,'//a[@class="title"]')

    for i in qu:
        quote.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a")

In [268]:
start=0
end=10

for page in range(start,end):
    aut=driver.find_elements(By.XPATH,'//div[@class="author"]')

    for i in aut:
        author.append(i.text)

    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a")

In [269]:
start=0
end=10

for page in range(start,end):
    qt=driver.find_elements(By.XPATH,'//div[@class="tags"]')

    for i in qt:
        qtype.append(i.text)
    
    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a")

In [270]:
print(len(quote))

1000

In [271]:
print(len(author))

1000

In [272]:
print(len(qtype))

1000

In [273]:
import pandas as pd
df=pd.DataFrame({'Quote' : quote, 'Author': author, 'Type': qtype})
df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9 : Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/

In [274]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome("chromedriver.exe")

In [275]:
driver.get("https://www.jagranjosh.com/")

In [276]:
gk=driver.find_element(By.XPATH, "/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a").click()

In [278]:
pm=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a").click()

In [279]:
name=[]
span=[]
term=[]
remarks=[]

In [283]:
name_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[2]/p')
for i in name_tags[0:18]:
    title=i.text
    name.append(title)
    
span_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[2]/p')
for i in span_tags[0:18]:
    sp=i.text
    span.append(sp)

term_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[2]/p')
for i in term_tags[0:18]:
    tm=i.text
    term.append(tm)
    
r_tags=driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[3]/td[2]/p')
for i in r_tags[0:18]:
    rm=i.text
    remarks.append(rm)

In [284]:
import pandas as pd
df=pd.DataFrame({'Name' : name, 'Period': span, 'Term': term, 'Remarks':remarks})
df

Empty DataFrame
Columns: [Name, Period, Term, Remarks]
Index: []

# Q10) Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com

In [330]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome("chromedriver.exe")

In [331]:
driver.get("https://www.motor1.com/")

In [333]:
ls=driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div/div/div[1]/div").click()

In [334]:
fs=driver.find_element(By.XPATH, "/html/body/div[4]/div[1]/div[3]/ul/li[5]/button").click()

In [335]:
lt=driver.find_element(By.XPATH, "/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a").click()

In [336]:
exp=driver.find_element(By.XPATH, "/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[4]/div/div[1]/h3/a").click()

In [337]:
car=[]
price=[]

In [338]:
car_tags=driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car_tags[0:50]:
    c=i.text
    car.append(c)

In [339]:
print(len(car))

50

In [325]:
import pandas as pd
df=pd.DataFrame({'Car':car})

In [326]:
df

                                Car
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*